# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Ignore bundler config.
/backend/.bundle

# Ignore all logfiles and tempfiles.
/backend/log/*
/backend//tmp/*
/backend/!/log/.keep
/backend/!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/backend//tmp/pids/*
/backend/!/tmp/pids/
/backend/!/tmp/pids/.keep

# Ignore uploaded files in development.
/backend//storage/*
/backend/!/storage/.keep
/backend/.byebug_history

# Ignore master key for decrypting credentials and more.
/backend//config/master.key
